
body{
    background-color: indigo;
    margin: auto;
}
nav li{
    display: flex;
     justify-content: space-evenly;
     background-color: lightcoral;
     height: 50px;
     align-items: center;
     font-size: 2rem;
     color: #fff;
}

#add-cart ,h1, h2, h3 , p{
    text-align: center;
   color: #fff;
}
.product{
    max-width: 550px;
    width: 100%;
    margin: auto;
    display: flex;
    background-color: gray;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 1%;
}
.product ul{
    list-style-type: none;
}
a{
    color: #fff;
    background-color: lightcoral;
    max-width: 200px;
    width: 100%;
    height: 30px;
  margin: 20px;
}
 .socials{
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    align-items: center;
    height: 150px;
    margin-bottom: 0px;
}
.social{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    
}
.social:hover{
    transform: scale(1.1);
    color: mediumblue;
    transition : 300ms ease ;
}
#formulaire{
    text-align: center;
}