
body{
    background-color: indigo;
    margin: auto;
}
h1, h2{
    text-align: center;
   color: #fff;
}
#products{
    margin: auto;
}
.box{
    max-width: 600px;
    width: 100%;
}
.product{
    display: flex;
    background-color: gray;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 1%;
}
.product ul{
    list-style-type: none;
}

.socials{
    display: flex;
    justify-content: center;
    background-color: lightcoral;
   align-items: center;
    height: 150px;
    margin-bottom: 0px;
}
.social{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}